html, body, p{
margin: 0;
padding: 0;
}
.header{
text-align: center;
}
img{
width: 200px;
height: 200px;
}
.column-left{
float: center;
display: inline;
}
.column-center{
width: 630px;
background: url(papirus.png); 
-webkit-background-size: cover;
-moz-background-size: cover;
padding: 10;
text-align: left;
margin: auto;
background-image: url(papirus.png);
font-size: 12px;
height: 750px;	
margin-top: 70px;
margin-bottom: 0;
font-style:
}
.footer{
float: top;
text-align: center;
clear: both;
color: yellow;
font-size: 20px;
margin: 0;
padding: 0;
height: 10px;
}
h2{
display: inline;
margin: auto;
right: 50%;
left: 34%;
position: relative;
float: left;
}
h3{
font-size:20;
display: inline;
}
h4{
font-size:20;
display: inline;
}
h5{
display: inline;
font-size:20;
width: 30px;
height: 30px;
}
ul, ul li{
display: block;
list-style: none;
margin: 0;
padding: 0;
}

ul a:link, ul a:visited{
text-decoration: none;
display: block;
width: 80px;
text-align: center;
background-image: url(drewno.png);
color: #000;
border: 2px outset #7d4427;
padding: 2px;
color: white;
}
ul a:hover{
background-color: #7d4427;
color: #fff;
border-top: 10px solid #7d4427;
}
ul li{
position: relative;
right: 50%;
left: 34%;
float: left;
display: inline;
white-space: nowrap;
}
body{
height: 100%;
background: url(drzewa.png) no-repeat center center fixed; 
background-size: cover;
}
.tekst{
font-size: 17px;
padding: 40px;
margin-top: 20px;
 font-style: italic;
}	
	
.nagłowek{
font-size: 30px;
text-align: center;
padding-top: 27px;
 font-style: italic;
}	